<%=turbo_frame_tag "main_page" do%>
<div class="custom-container">
  <div class="custom-card">
    <div class="custom-card-header">
      <h2>Add New Product</h2>
    </div>
       <%= render "form",locals: {product: @product}%>
  </div>
</div>
<%end%>